/*** Normalized ***/


#main_body {
    margin: 0;
    padding: 0;
}

#container {
    padding: 0;
    margin: 0 auto;
    width: 725px;
}

#sub_container1 {
	position: relative;
	top: -22px; 
  width: 178px;
  overflow: hidden;
}

#layout_table {
	border-collapse: collapse;
}

#left_column {
	vertical-align: top;
}

#right_column {
	vertical-align: top;
}

#sub_container2 {
	margin:  0 0 0 0;
  padding: 0px 0px 20px 20px;
	overflow: hidden;
	width: 525px;	
}

#content_container {
	width: 515px;
	border: 0;
	padding: 0;
	margin: 0;
}

#footer_text {
    width: 515px;
    padding: 0 0 14px 20px;
}

#header {
	position: relative;
	height: 175px;
}

#header_left {
    float: left;
    width: 178px;
    height: 146px;
}

#logo {
    width: 140px;
    height: 80px;
    margin: 23px 0 0 19px;
}

#header_top {
	float: left;	
    width: 547px;
    height: 24px;
}

#key_visual {
	float: left;	
    width: 547px;
    height: 122px;
}

#slogan {
    margin-bottom: 15px;
}

#main_container {
	clear: both;	
  width: 725px;	
}

/* Main navigation */

#main_nav_container {
	clear: both;
	position: relative;
	top: -25px;
	left: 187px;
    margin: 0;	
    padding: 0;
    width: 534px;
    overflow: hidden;
}

#main_nav_list {
    float: left;
    width: 534px;
   	overflow: hidden;    
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#main_nav_list li {
    float: left;
    margin: 0;
    padding: 0 2px 0 0;
}

#main_nav_container #main_nav_left,  #main_nav_container #main_nav_right {
    width: 15px;
    height: 22px;
}

#main_nav_list a {
	background-repeat: repeat-x !important;
	overflow: hidden;
    float: left;
    margin: 0;
    text-align: center;
    display: block;
    height: 15px;
    padding: 3px 15px 4px 15px;
}
	
/* * */

/* Sub navigation */

#sub_nav_container {
	clear: both;
}


.sub_nav_list {
    list-style-type: none;	
    margin: 0;
    padding: 0;
}

.sub_nav_list a {
	overflow: hidden;	
    display: block;
    height: 21px;
    line-height: 19px;
    width: 178px;
    padding-left: 30px;
}

/* * */

.content .comment_link {
    text-align: right;
}

.content table {
    border-left: 1px solid;
    border-top: 1px solid;
    border-collapse: collapse;
    border-spacing: 0;
}

.content th {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 3px 5px 3px 5px;
    text-align: left;
    font-weight: bold;
}

.content td {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 3px 5px 3px 5px;
}

.content {
    margin: 5px 0 15px 0;
    padding: 0;
}

.content button {
    border: 1px solid;
    background: #eeeeee;
}

.content textarea {
    border: 1px solid;
}

.content input {
    border: 1px solid;
}

.content fieldset {
    border: 1px solid;
}

